<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>lol</title>
</head>
<body>

<form th:align="center" th:action="@{/add_article_create}"  method="post">
  <p>Wypełnij dane</p>
  <div>
    <label> title
      <input type="text" th:name="title"> <br>
    </label>
    <label> author
      <input type="text" th:name="author"><br>
    </label>
    <button>submit</button>
  </div>
</form>

<div lang="en" th:replace="fragments/footer"> </div>

</body>
</html>