<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">

    <meta charset="UTF-8">
  <title>lol</title>
</head>
<body th:align="center">
<p>siema</p>


<div lang="en" th:replace="fragments/header"> </div>





<div style="border: 1px solid black; margin-bottom: 10px; padding: 10px" th:each="article : ${articles}">
    <a th:href="${article.id}">Wyświetl</a>
    <p th:text="${article}"></p>
    <div class="lol" th:if="${currentUser} != anonymousUser" th:align="center" >
        <a th:href="@{/likes/} + ${article.id}">polub</a>
        <tr th:each="like : ${likes}">
            <div th:if="${article.id == like.articleID}">
                <p th:text="${like}"></p>
            </div>
        </tr>
    </div>
      <td th:each="comment : ${comments}">
          <div th:if="${comment.articleID} == ${article.id}"  >
              <p th:text="${comment}"></p>
          </div>
      </td>
    <form th:action="@{/add_comment_from_article/} + ${article.id}"  method="post">
        <!--<input type="hidden" th:name="ArticleID" th:value="${article.id}"  >--> <!--alternatywnie mozna wyszukac artykul po tresci i wtedy znalezc id-->
        <!--<label>Autor
            <input type="" th:name="author"  />
        </label>-->
        <label>Tresc
            <input type="" th:name="content" >
        </label>
        <button>submit</button>
    </form>
</div>





<!--<div th:each="comment : ${comments}">
    <p th:if="${comment.articleID == 2}" th:text="${comment}"></p>
</div>-->









    <!--<div  style="border: 1px solid black">
        <tr th:each="article : ${articles}">
            <td th:text="${article}"></td><br>
        </tr>
    </div>-->



<div lang="en" th:replace="fragments/footer"> </div>

</body>
</html>