<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>lol</title>
</head>
<body th:align="center">
<p>siema</p>

<!--<tr th:each="article : ${articles}">
    <pre>
    <td th:text="${article.title}"></td>
    <td th:text="${article.author}"></td>

    </pre>
</tr>-->
<tr th:each="commentt : ${comments}">
    <pre>
    <td th:text="${commentt.author}"></td>
    <td th:text="${commentt.comment}"></td>

    </pre>
</tr>

<div lang="en" th:replace="fragments/footer"> </div>

</body>
</html>