<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="/css/afterlogin.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/article.css">
    <link rel="stylesheet" href="/css/addArticle.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/28be9a9148.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>navbarV</title>
</head>
<body th:onload="pageButtonsList([[${articleSize}]])">
<div lang="en" th:replace="fragments/header"> </div>
<main>
    <section class="main_section">
        &nbsp;
        <div class="overlay">
            <div th:each="article : ${articles}" class="article-container" id="meme-id">
                <div class="article_header" id="article_header">
                    <div class="user_avatar">
                        <img class="avatar_img" th:src="'/images/' + ${article.authorPath}" alt="avatar">
                    </div>
                    <div id="titleID_span" class="something">
                        <a th:href="${article.id}"><span id="titleID" class="titleClass" th:text="${article.title}"></span></a>
                    </div>
                    <div id="article_info" class="article_info">
                        <span id="article_info_span"><span th:text="${article.author}+ ' '"></span><a href="#">[zgłoś duplikat]</a></span>
                    </div>
                    <div th:if="${currentUser} != anonymousUser" class="votes">
                        <span th:id="'header-votes-' + ${article.id}" class="vote_count" th:text="${article.likes}"></span>
<!--                        <a href="#"><img src="./images/thumb.png" alt=""></a>-->
                        <p class="hover" th:onclick="articleVote([[${article.id}]])"><i th:id="'thumb-' + ${article.id}"  class="fa-solid fa-thumbs-up"
                                                                                   th:classappend="${article.liked} ? voted"></i></p>

                    </div>
                    <div th:if="${currentUser} == anonymousUser" class="votes">
                        <span th:id="'header-votes-' + ${article.id}" class="vote_count" th:text="${article.likes}"></span>
                        <!--                        <a href="#"><img src="./images/thumb.png" alt=""></a>-->
                        <p class="hover"><i th:id="'thumb-' + ${article.id}"  class="fa-solid fa-thumbs-up"
                                                                                        th:classappend="${article.liked} ? voted"></i></p>

                    </div>
                </div>
                <div class="image">
                    <img th:src="'../uploads/' + ${article.path}" alt="">
                </div>
                <div class="footer">
                    <div class="star">
                        <a href="#" class="add_favourite"><i class="fa-solid fa-star"></i></a>
                    </div>
                    <div class="social">
                        <a href="#" class="add_favourite"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#" class="add_favourite"><i class="fa-brands fa-facebook-messenger"></i></a>
                        <a href="#" class="add_favourite"><i class="fas fa-link copy-link"></i></a>
                    </div>
                    <div th:if="${currentUser} != anonymousUser" class="votes">
                        <span th:id="'footer-votes-' + ${article.id}" class="vote_count" th:text="${article.likes}"></span>
<!--                        <a href="#"><img src="./images/thumb.png" alt=""></a>-->
                            <p class="hover" th:onclick="articleVote([[${article.id}]])"><i th:id="'footer-thumb-' + ${article.id}"
                                           class="fa-solid fa-thumbs-up" th:classappend="${article.liked} ? voted"></i></p>
                    </div>
                    <div th:if="${currentUser} == anonymousUser" class="votes">
                        <span th:id="'footer-votes-' + ${article.id}" class="vote_count" th:text="${article.likes}"></span>
                        <!--                        <a href="#"><img src="./images/thumb.png" alt=""></a>-->
                        <p class="hover"><i th:id="'footer-thumb-' + ${article.id}"
                                                                                        class="fa-solid fa-thumbs-up" th:classappend="${article.liked} ? voted"></i></p>
                    </div>
                    <div style='width:0;height:0'>&nbsp;</div>

                    <div id="toggle_comment" class="comments_icon hover" th:onclick="getData([[${article.id}]])">
                        <p class="comments_icon"><i class="fa-solid fa-comments"></i></p>
                        <p class="comments_icon"><i th:id="'comment-arrow-' + ${article.id}" class="fas fa-angle-double-up"></i></p>
                    </div>
                </div>
                <div th:id="'comment_' + ${article.id}" class="comment">
                    <div th:id="'comment_section_' + ${article.id}" class="comment_section none">

                    </div>
                    <div th:if="${currentUser} != anonymousUser" class="comment_container input_comment_container">
                        <div style='width:0;height:0'>&nbsp;</div>
                        <div class="comment_header add_comment ">
                            <span>Więcej niż 3 znaki</span>
                        </div>
                        <div style='width:0;height:0'>&nbsp;</div>
                        <!--<form th:action="@{/add_comment_from_article/} + ${article.id}" method="POST">-->
                        <div class="comment input_container">
                            <!--<input class="comment_input" type="text">-->
                            <textarea th:id="'content-' + ${article.id}" style="resize: none" class="text_comment_field" cols="100" rows="8" name="comment"></textarea>
                        </div>
                        <button class="button_comment" name="addCommentButton" th:onclick="addComment([[${article.id}]])" >Zatwierdź komentarz</button>
                        <!--</form>-->
                    </div>
                    <div th:if="${currentUser} == anonymousUser" class="not_logged">
                        <p>Zaloguj się, aby dodać komentarz.</p>
                        <!--<p th:if="${article.liked} == true">gfdgdfgfd</p>-->
                    </div>
                </div>
            </div>
            <div id="pages" class="pages"></div>
        </div>
        </div>
    </section>
</main>
</body>
<script>
    function pageButtonsList(size){
        let space = 5;
        const container = document.getElementById('pages');
        let buttonNumbers = (Math.floor(size/space))
        if(size%space >= 1) buttonNumbers+=1
        //console.log(buttonNumbers)
        //const buttons = [];
        const currentPage = pageNumber();
        //console.log(currentPage);
        for (let i = 1 ; i<=buttonNumbers; i++){
            const button = document.createElement("button");
            //button.textContent = i;
            const link = document.createElement("a");
            link.href = "/display_articles/"+i;
            link.textContent = i;
            //button.appendChild(link);
            //button.classList.add("page-button");
            link.classList.add("page-button")
            if (currentPage === i){
                link.classList.add('current-page')
            }
            //console.log(typeof i+ " i");
            //console.log(typeof currentPage+" currentPage");
            container.appendChild(link);
        }
    }
    function pageNumber(){
        const regex = /\/(\d+)?$/;
        const url = window.location.href;
        let result = 0;
        if(regex.test(url)){
            let resultUrl = "";
            resultUrl = url.match(regex)[1];
            result = parseInt(resultUrl);
        }
        if(result < 1)
        {result = 1;}
        return result;
    }
    function displayComments(id){
        document.getElementById('comment_section_'+id).classList.toggle('none');
        document.getElementById('comment-arrow-'+id).classList.toggle('rotated');
    }
    async function commentVote(id){
        await fetch("/comment_likes/"+id)
            .then((res) => res.json()
                //res.json();
            ).then((data) => {
                console.log(data);
                document.getElementById('span-likes-'+id).innerHTML = data;
                document.getElementById('comment-thumb-'+id).classList.toggle('true');
            } )
    }
    function voted(id){
        document.getElementById('thumb-'+id).classList.toggle('voted');
        document.getElementById('footer-thumb-'+id).classList.toggle('voted');
    }

    async function addComment(id){
        let comment= {};
        comment['comment'] = document.getElementById('content-' + id).value;
        //comment['comment2'] = document.getElementById('content2').value;
        console.log(comment);
        console.log(JSON.stringify(comment));
        await fetch("http://localhost:8080/add_comment_from_article/" + id,{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify(comment)
        }).then((res)=>res.json()).then(response => {
            //console.log(response)
        })
        await getComments(id);
        document.getElementById('comment_section_'+id).classList.remove('none');
        document.getElementById('comment-arrow-'+id).classList.add('rotated');
        document.getElementById('content-'+id).value = '';
    }
    async function articleVote(id){
        await fetch("/article_likes/"+id)
            .then((res) => res.json()
                //res.json();
            ).then((data) => {
                console.log(data);
                document.getElementById('header-votes-'+id).innerHTML = data;
                document.getElementById('footer-votes-'+id).innerHTML = data;
            } )


        voted(id);
    }
    async function getData(id){
        await getComments(id);
        displayComments(id);
    }

    async function getComments(id) {
        try {
            const response = await fetch(`/comment/${id}`);
            const comments = await response.json();

            let tmpData = "";
            if (comments.length > 0) {
                comments.forEach((comment) => {
                    tmpData += `
          <div class="comment_container">
            <div style="width: 0; height: 0">&nbsp;</div>
            <div class="comment_header">
              <a href="#">${comment.author}</a>
              <span> • ${comment.createDate}</span>
              <div class="comment_votes">
                <span id="span-likes-${comment.id}">${comment.likes}</span>
                <p onclick="commentVote(${comment.id})">
                  <i id="comment-thumb-${comment.id}" class="fa-solid comment hover ${comment.liked} fa-thumbs-up"></i>
                </p>
              </div>
            </div>
            <div class="comment">
              <p>${comment.comment}</p>
            </div>
          </div>
        `;
                });
            } else {
                tmpData += `
        <div class="no-comment">
          <p>Wygląda na to, że nie ma jeszcze żadnych komentarzy.</p>
        </div>
      `;
            }

            document.getElementById(`comment_section_${id}`).innerHTML = tmpData;
            //displayComments(id);
        } catch (error) {
            console.error(error);
        }
    }


    const mobileNav = document.querySelector('.menu');
    const burgerButton = document.querySelector('.hamburger-menu');




    burgerButton.addEventListener('click', function(){
        mobileNav.classList.toggle('active');
        burgerButton.classList.toggle('active');
    })

    /*let likes = document.getElementById('thumb-1');
    likes.addEventListener('click', () => {
        console.log('lol');
        likes.classList.toggle('voted');
    })*/

    // const thumb = document.querySelectorAll(".fa-thumbs-up");
    //
    // [].forEach.call(thumb, el =>{
    //     el.addEventListener('click', () => {
    //         el.classList.toggle('voted');
    //         //console.log(el.closest('.fa-thumbs-up'));
    //     })
    // })




    const nav_link = document.querySelectorAll(".nav-link");
    const dropdown_test = document.querySelectorAll(".dropdown-test");
    const deep_link = document.querySelectorAll(".deep-link");
    const submenu_link = document.querySelectorAll(".submenu-link");

    [].forEach.call(deep_link, el => {      //dla kazdego elementu dropdown_test
        el.addEventListener('click', () => {
            el.closest('.submenu-link').classList.toggle('active');
            /*const index = [...child.parentElement.children].indexOf(child);*/
            /*console.log(index);*/
            /*submenu_link[index].classList.toggle('active');*/
        })

    });

    [].forEach.call(dropdown_test, el => {      //dla kazdego elementu dropdown_test
        el.addEventListener('click', () => {
            const child = el.closest('.nav-link');
            const index = [...child.parentElement.children].indexOf(child);
            /*        console.log(index);*/
            nav_link[index].classList.toggle('active');
        })
    })
</script>
</html>